
            #jumbotron-topo{
                background-color: #7cb342 !important;
                color: #FFFFFF !important;
                margin: 0;
            }

            #coluna-esquerda-topo-titulo{
                font-size: 40px;
            }

            #coluna-esquerda-topo-texto{
                font-size: 20px;
            }

            #coluna-direita-topo-texto{
                font-size: 30px;
            }

            #body-index{
                margin: 0px;
                padding-right: 0px;
            }

            #imagem{
                height: auto;
                width: auto;

            }
            #jumbotron-meio{
                background-image:url(/PegarABUILDDD/resources/img/background-jumbotron.jpg);
                margin: 0;
                text-align: center;
                align-content: center;         

            }

            #primeira-linha{
                padding-left: 20%;
                margin: 5;

            }


            #primeira-thumb{
                background-color: white;
                height: 300px;
                width: 359px;
                float: right;
                margin: 5;
            }

            #segunda-thumb{
                background-color: white;
                height: 300px;
                width: 359px;
                float: right;
                margin: 5;

            }

            #terceira-thumb{
                background-color: white;
                height: 300px;
                width: 359px;
                float: right;
                margin: 5;

            }

            .imagem-primeira-thumb{
                background-size: cover;
                margin: 0;
                repeat: no-repeat;
                position: static;
                inline-box-align: inherit;
                max-width: 362px;
            }

            .imagem-segunda-thumb{
                background-size: cover;
                margin: 0;
                repeat: no-repeat;
                position: static;
                inline-box-align: inherit;
                max-width: 362px;           
            }

            .imagem-terceira-thumb{
                background-size: cover;
                margin: 0;
                repeat: no-repeat;
                position: static;
                inline-box-align: inherit;
                max-width: 362px;           
            }

            .texto-primeira-thumb{
                color: darkgreen;

            }

            .texto-segunda-thumb{
                color: darkgreen;

            }

            .texto-terceira-thumb{
                color: darkgreen;

            }

            #segunda-linha{
                margin: 5;
            }

            #formulario-segunda-linha{
                margin-left: 50px;
                margin-right: 50px;
                margin: 5;
            }

            #titulo-formulario{
                text-align: center;
                color: #black;
            }

            data-table-form{
                margin-top: 15px;
                font-size: 16px;
                font-style: oblique;
                color: #black;

            }

            .coluna{
                color: black;
                font-family: initial;
            }

            #segunda-coluna{
            }

            #jumbotron-rodape-inferior{
                background-color: #558b2f;
                color:#white !important;  
                margin: 0;


            }
            .jumbotron-rodape-superior{

                background-color: #7cb342; margin: 0;
            }

            form{
                text-align: center;
                color: #558b2f;
            }
            
             
            .painel{
                margin-left: 50px;
                margin-right: 50px;
                background-color: #7cb342;
                border: none;
            }

            .segunda-linha{

                margin-bottom: 2;            }


            .textos{
                text-orientation: sideways-left;
                color: black;
                text-align: left;
            }

            .mais-informacoes{
                margin-bottom:0;
            }

            .navbar {
                background-color: #558b2f !important;
                margin: 0;
                border: 3px solid #50802b;
                color: white;
            }


            p {font-family: inherit;

            }